body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

    margin: 0rem;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    
}

.navbar a {
    text-decoration: none;
    color: rgb(90, 179, 111);
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.navbar a:hover {
    font-size: 30px;
  }

.navbar ul {
    display: flex;
    list-style: none;
    
}

.navbar ul li {
    margin: 0px 10px;
    
}


.site-logo {
    font-size: 100px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(90, 179, 111);
    text-decoration: none;
    transition: .5s;
    
}

.site-logo:hover {
    font-size: 110px;
}

.site-main {
    padding: 0px;
}

/*.welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(112, 176, 118);
    color: white;
    border-radius: 25px;
    
}

/*
Event styling
*/
.events {
    color:  rgb(255, 255, 255);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    position: relative;
}



.event {
    background-color: rgb(112, 176, 118);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 15px;
    border: rgb(246, 246, 246) 10px solid;
    max-width: 300px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(5, 5, 5, 0.214);
    -moz-box-shadow: 6px 6px 5px 0px rgba(5, 5, 5, 0.214);
    box-shadow: 6px 6px 5px 0px rgba(5, 5, 5, 0.214);
    transition: .5s;
}

img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0px;
}

/* CSS Grid Approach */
.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
    .event-grid {
        grid-template-columns: 1fr;
    }
}

/* CSS Flexbox Approach */
.event-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

footer {
    background-color: rgb(90, 179, 111);
    color: white;
    text-align: center;
    padding: 10px 0;
    height: auto;
    padding-top: 20px;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: center;
    text-align: left;
    background-color: rgb(135, 136, 135);
    padding: 20px;
    border-radius: 25px;
}



.welcome img {
    position: absolute;
    border-radius: 0px;


}